@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #f0f0f0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,0.2) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,0.2) 0, transparent 50%);
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
}

.glass-panel {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-2xl rounded-2xl;
}
